* {
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 7, 109);
  font-size: 1rem;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 1150px;
  height: 250px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.input-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  /* background-color: rgb(6, 49, 125); */
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 4px;
  /* background-color: rgb(35, 143, 205); */
}

label {
  padding-bottom: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  color: rgb(20, 30, 55);
}

.amount-input {
  outline: none;
  box-shadow: none; 
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px; 
  padding: 12px; 
  font-size: 1rem;
  color: rgb(20, 30, 55);
  width: 305px;
}

.amount-input:focus {
  border:  1px solid rgb(18, 113, 255);
}

.select {
  outline: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;
  width: 305px;
  height: 44px;
  font-size: 1rem;
  color: rgb(20, 30, 55);
  padding: 12px; 
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.select:hover {
  cursor: pointer;
}

.select:focus {
  border:  1px solid rgb(18, 113, 255);
}

.select-display {
  width: 100%;
  height: fit-content;
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  overflow-y: auto;
  height: 200px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;
  font-size: 1rem;
  color: rgb(20, 30, 55);
  background-color: white;
}

.option {
  padding: 2px 5px;
}

.option:hover {
  background-color: rgb(205, 231, 254);
}

.select-input {
  outline: none;
  box-shadow: none; 
  border: none;
  width: 100%;
  font-size: 1rem;
}

.button {
  color: white;
  background-color: rgb(18, 113, 255);
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.result-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

p {
  margin: 0;
  line-height: 1.7;
}

.conversion-from {
  color: rgb(31, 45, 79);
  font-weight: bold;
}

.conversion-result {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(20, 30, 55);
}

.conversion-rate {
  color: rgb(31, 45, 79);
}



.spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}